@font-face {
    font-family: 'ChosunSg';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/ChosunSg/ChosunSg.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/ChosunSg/ChosunSg.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/ChosunSg/ChosunSg.ttf') format('truetype');
}
